body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.progress-bar {
    background-color: whitesmoke;
    width: 400px;
    height: 50px;
    border: black solid 3px;
    border-radius: 20px;
}

.progress {
    background-color: #00BB9C;
    height: 100%;
    border-radius: inherit;
}

.singleTask {
    position: relative;
    left: -35%;
    top: -170px;
    float: right;
}

.taskName {
    position: inherit;
    left: -38%;
}

.checkIsFinished {
    position: absolute;
    left: 102%;
    size: inherit;
    padding-top: 1%;
}